
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>
<p> <strong> GetThatLook</strong> is an online shopping website for all youngsters to get fashion at an affordable price..</p>
