
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- This is the Categories Page-->
<h1>Category</h1>
<h4>You can Select Different Categories to Shop with ease..</h4>