@{
    ViewData["Title"] = "Home Page";
}
<!-- This is the index or the home page of the website-->
<div class="text-center">
    <h1 class="display-4">GetThatLook</h1>
    <p> Hello!! <strong>WELCOME</strong> to the most affordable online shopping store for all your needs. </p>
    <h4>Make Sure to Check The Website Daily For All the new Items.</h4>
    <h4>Click Here To operate <a href="/Categories"> CRUD</a> </h4>
</div>
